.o-headerMain {
  width: 65%;
  margin-left: 15px;
  position: fixed;
  z-index: 150;
  background-color: white !important;
  width: 1535px;
  margin: 0;
  padding: 0 25px 0;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo nav nav nav";
  background-color: unset;
  font-family: "Poppins", sans-serif;
  .a-link {
    &__logo {
      grid-area: logo;
      font-weight: 900;
      font-size: 20px;
      text-decoration: none;
      color: black;
    }
  }
  &__navbar {
    display: flex;
    flex-direction: column;

    .m-nav {
      width: 600px;
      margin-right: 470px;
      grid-area: nav;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
    }
  }
}




/* footer {
  display: none;
}

@media screen and (max-width: 700px) {
  .container-header {
    display: none;
  }
  .o-header {
    .m-logo {
      display: none;
    }
  }

  .o-footer {
    position: fixed;
    width: 100%;
    background-color: #f08f91bb;
    margin-top: 160px;
    margin-left: -7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: space-between;
    .m-header {
      width: 100%;
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        height: 65px;
        margin-top: 2px;
        margin-left: -10px;
        .a-link,
        li {
          text-decoration: none;
          list-style: none;
          color: black;
          font-family: "Poppins", sans-serif;
          width: 90%;
          height: 80px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          background-color: #f08f91c7;
        }
        img {
          margin-bottom: 5px;
        }
        #main {
          margin-top: -10px;
          height: 90px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }
} */
