    <div class="m-reseaux_content">
        <a class="a-link" href="https://twitter.com/" target="_blank"><span class="icon-twitter"></span></a>
        <a class="a-link" href="https://www.instagram.com/" target="_blank"><span class="icon-instagram"></span></a>
        <a class="a-link" href="https://www.youtube.com/" target="_blank"><span class="icon-youtube"></span></a>
        <a class="a-link" href="https://www.snapchat.com/" target="_blank"><span class="icon-snap"></span></a>
    </div>