<div class="m-reseaux_content">
    <ul class="a-ul-list">
        <li class="a-li-list"><a class="a-link" href="https://twitter.com/" target="_blank"><span class="icon-twitter"></span></a></li>
        <li><a class="a-link" href="https://www.instagram.com/" target="_blank"><span class="icon-instagram"></span></a></li>
        <li><a class="a-link" href="https://www.youtube.com/" target="_blank"><span class="icon-youtube"></span></a></li>
        <li><a class="a-link" href="https://www.snapchat.com/" target="_blank"><span class="icon-snap"></span></a></li>
    </ul>
</div>