    <div class="m-reseaux_content">
        <a href="https://twitter.com/" target="_blank"><img src="assets/images/icons_noir/twitter.svg" alt="" /></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="assets/images/icons_noir/instagram.svg" alt="" /></a>
        <a href="https://www.youtube.com/" target="_blank"><img src="assets/images/icons_noir/youtube.svg" alt="" /></a>
        <a href="https://www.snapchat.com/" target="_blank"><img src="assets/images/icons_noir/snap.svg" alt="" /></a>
    </div>