.a-btn {
  position: relative;
  font-family: Poppins,sans-serif;
  width: 100%;
  height: 2.5625rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  font-size: 15px;
  line-height: 39px;
  font-weight: 500;


  // le version primaire du bouton
  &.-primary{
    background-color: #000;
    color: #fff;
    &:after{
      content: "\00bb";
      position: absolute;
      opacity: 0;
      font-size: 1.2rem;
      right: -10px;
      transition: .5s;
    }
    &.hover,
    &:hover {
        &:after{
        right: 10px;
        opacity: 1;
      }
    }
  }

}

// le bouton en version lien
a.a-btn{
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
