

.a-titleH1,.a-titleH2,.a-titleH3,.a-titleH4,.a-titleH5,.a-titleH6{
    font-family: Poppins,sans-serif;
    &.-bold{
        font-weight: bold;
    }
    &.-line-trough{
        text-decoration: line-through 2px grey;
    }
    &.-overline{
        text-decoration: underline solid #f08f90;
    }
}
.a-titleH1{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 3rem;
}
.a-titleH2{
}
.a-titleH3{
    font-size: 1.5em;
}
.a-titleH4{
    font-size: 1.3em;
}
.a-titleH5{
    
}
.a-titleH6{
    
}