.t-accueil {
  height: 100vh;
  overflow: hidden;
  display: flex;
  // justify-content: space-around;
  .o-reseaux {
    margin-left: -45px;
    margin-bottom: 20px;
    .m-reseaux_content {
      .a-link {
        color: #f08f90 !important;
      }
    }
  }
  .o-main-content {
    grid-area: o-content;
    display: flex;
    margin: 120px 200px;
    .main-top-ligne {
      position: absolute;
      width: 150px;
      margin-left: -20px;
      border: 5px solid #f08f90;
      background: #f08f90;
    }
    .m-content {
      grid-area: m-content;
      width: 275px;
      &__texte {
        margin-top: 30%;
        padding: 5%;
        .a-titleH1 {
          margin-top: -30px;
          margin-bottom: -15px;
          text-decoration: underline 3px#f08f90;
          line-height: 80px;
        }
        .a-titleH2 {
          font-weight: 500;
        }
        .a-paragraph {
          width: 300px;
          font-size: 22px;
          line-height: 1.3;
        }
      }
    }
    .m-name {
      display: none;
    }
    .m-carrousel {
      // border: 1px solid darkblue;
      // width: 500px;
      position: relative;
      &__image1 {
        text-align: center;
        position: absolute;
        z-index: 100;
        left: 90px;
        top: 20px;
        // border: 1px solid darkblue;
        svg {
          width: 500px;
          height: 500px;
          .icon1 {
            fill: url(#pattern1);
          }
          
      }
    }
      &__image2 {
        text-align: center;
        position: absolute;
        z-index: 160;
        left: 505px;
        top: -180px;  
        // border: 1px solid darkblue;
        svg {
          width: 500px;
          height: 500px;
          .icon2 {
            fill: url(#pattern2);
          }
        }
      }
      &__image3 {
        text-align: center;
        position: absolute;
        z-index: 100;
        left: 480px;
        bottom: -230px;
        // border: 1px solid darkblue;
        svg {
          width: 500px;
          height: 500px;
          .icon3 {
            fill: url(#pattern3);
          }
        }
      }
    }
  }
  .m-radio {
    display: none;
    grid-area: m-radio;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    margin-left: 800px;
    input {
      margin: 30%;
    }
    input[type="radio"]:after {
      width: 20px;
      height: 20px;
      border-radius: 15px;
      top: -3px;
      left: -1px;
      position: relative;
      background-color: white;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid black;
    }
    input[type="radio"]:checked:after {
      width: 25px;
      height: 25px;
      border-radius: 15px;
      top: -3px;
      left: -4px;
      position: relative;
      background-color: black;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
    }
  }

  .reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0 !important;
    animation: none !important;
    transition: 0s !important;
  }

  .reveal-loaded [class*="reveal-"] {
    animation: revealAnimation 1s cubic-bezier(0.5, 0, 0, 1) both;
  }

  .reveal-loaded .reveal-2,
  .reveal-loaded .reveal-3 {
    animation-delay: 0.1s;
  }

  @media (prefers-reduced-motion: reduce) {
    .reveal-loaded [class*="reveal-"] {
      animation: none !important;
    }
  }
}
@import "p-about-responsive";


