@media screen and (max-width: 1200px) {
  .t-accueil {
    .o-reseaux {
      margin-left: 0px;
      margin-bottom: 0px;
      width: 100px;
      margin-top: 450px;
      background: none;
      position: fixed;
    }
    .o-main-content {
      width: 450px;
      height: 500px;
      margin-left: 250px;
      margin-top: 250px;
      // border: 1px solid darkblue;
      .main-top-ligne {
        display: none;
      }
      .m-content {
        &__texte {
          margin-top: 15%;
          padding: 5%;
          .a-titleH1 {
            margin-top: -30px;
            margin-bottom: -15px;
            text-decoration: underline 3px#f08f90;
            line-height: 80px;
          }
        }
      }
      // .m-carrousel {
      //   display: none;
      // }
    }
  }
  .m-radio {
    display: none;
  }
}

@media screen and (max-width: 415px) {

}
