.o-blog {
  background-color: #efce6f;
}

.a-ligne {
  width: 300px;
  border: 0.1px solid black;
}
.a-border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.o-blogs_first_content img,
.o-blogs_last_content img {
  width: 150px;
  height: 200px;
}



.o-blog_content {
  height: 90vh;
  /* display: grid; */
  /* grid-template-columns: repeat(5,1fr); */
  /* grid-template-rows: 1fr; */
  /* grid-template-areas: "o-reseaux o-blogs_first_content o-history_lignes o-blogs_last_content o-blogs_last_content"; */
  display: flex;
  flex-direction: row;
  .o-reseaux {
    margin-left: -85px;
  }
  .a-btn {
    width: 150px;
  }
  .o-blogs_first_content {
    // grid-area: o-blogs_first_content;
    width: 580px;
    margin-right: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .o-first_article {
      display: flex;
      img {
        margin-left: 10px;
        border-radius: 10px;
      }
      .a-article_date {
        height: 40px;
        width: 150px;
        margin-top: 15px;
        padding-right: 5px;
        border-right: 3px solid black;
      }
      .m-article_titre {
        margin-left: 15px;
      }
    }
  }

  .o-history_lignes {
    grid-area: o-history_lignes;
    position: absolute;
    left: 720px;
    height: 600px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .o-cercles {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      left: 160px;
      width: 60px;
      height: 470px;
      .a-history_cercle {
        height: 25px;
        width: 25px;
        border: 3px solid black;
        border-radius: 50%;
      }
      .a-bottom_ligne {
        border: 1px solid black;
        background-color: black;
        height: 170px;
      }
    }
    .o-lignes,
    .o-lignes_1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 440px;
      .m-ligne {
        // border: 1px solid darkcyan;
        .a-history_ligne {
          width: 120px;
          height: 1px;
          border: 1px solid black;
          background-color: black;
        }
      }
    }
    .o-lignes_1 {
      justify-content: center;
    }
  }
}

.o-blogs_last_content {
  grid-area: o-blogs_last_content;
  position: absolute;
  margin-top: 50px;
  height: 600px;
  left: 965px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .o-second_article,
  .o-third_article {
    display: flex;
    img {
      margin-right: 10px;
      border-radius: 10px;
    }
    .a-article_date {
      height: 40px;
      margin-top: 15px;
      padding-left: 5px;
      border-left: 3px solid black;
    }
  }
}

.reveal-loaded .reveal [class*="reveal-"] {
  opacity: 0 !important;
  animation: none !important;
  transition: 0s !important;
}

.reveal-loaded [class*="reveal-"] {
  animation: revealAnimation 1s cubic-bezier(0.5, 0, 0, 1) both;
}

.reveal-loaded .reveal-2 {
  animation-delay: 0.2s;
}

.reveal-loaded .reveal-3 {
  animation-delay: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .reveal-loaded [class*="reveal-"] {
    animation: none !important;
  }
}

@keyframes revealAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 700px) {
  body {
    background-color: white;
    height: 950px;
    p {
      font-size: 12px;
    }
  }

  .o-blog_content {
    margin-top: 50px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "o-reseaux o-blogs_last_content";

    .o-reseaux {
      grid-area: o-reseaux;
      background: #efce6f;
      margin-left: -10px;
      position: fixed;
      .a-reseaux_blog-ligne {
        display: none;
      }
    }

    .o-blogs_first_content {
      grid-area: o-blogs_first_content;
      margin-top: 300px;
      margin-right: 0;
      width: auto;
      img {
        width: 100px;
        height: 150px;
      }
      .m-first_article {
        width: 355px;
        margin-left: -190px;
      }
    }

    .o-history_lignes {
      display: none;
    }
  }
  .o-blogs_last_content {
    grid-area: o-blogs_last_content;
    position: absolute;
    margin-top: 0;
    height: 800px;
    left: 20px;
    width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 100px;
      height: 150px;
    }
    .m-second_article,
    .m-third_article {
      display: flex;
      img {
        margin-right: 10px;
        border-radius: 10px;
      }
      .a-article_date {
        height: 40px;
        margin-top: 15px;
        padding-left: 5px;
        border-left: 3px solid black;
      }
    }
  }
  /* .o-footer {
    // display: block;
    display: flex;
    position: fixed;
    width: 100%;
    // background-color: #efcf6fb9;
    background-color: #efce6f;
    margin-top: 125px;
    margin-left: -7px;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .a-lien,
    li {
      background-color: #efcf6fb9 !important;
    }
  } */
}
