.o-blog1-first_content {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "o-reseaux o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article";
  margin-top: 30px;

  .o-blog1_article {
    grid-area: o-blog_article;
    border: 2px solid #f6947e;
    border-radius: 10px;
    width: 99%;
    position: relative;
    .m-top-img_article {
      background-image: url(../images/photo/blog_train.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      opacity: 0.7;
      margin: 2px;
      height: 200px;
    }
    .m-article_img img {
      position: absolute;
      top: 150px;
      left: 60px;
      border-radius: 10px;
      width: 180px;
      height: 250px;
    }
    .o-mon_article {
      display: flex;
      justify-content: center;
      .m-article {
        padding: 5px;
        width: 75%;
        margin-left: 220px;
        .m-article_titre {
          display: flex;
          align-items: center;
          width: 320px;
          .a-border {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
          }
          .a-article_date {
            border-left: 2px solid black;
            display: flex;
            justify-content: space-around;
            height: 50px;
            width: 150px;
          }
        }
        .m-para {
          .a-paragraph {
            font-size: 16px;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .o-blog1-first_content {
    background-color: #f6947e;
    height: 1500px;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "o-reseaux o-blog_article";
    margin-top: 5px;
    .o-reseaux {
      margin-left: -10px;
    }

    .o-blog_article {
      grid-area: o-blog_article;
      border: none;
      .m-top-img_article {
        opacity: 1;
        border: 2px solid white;
        margin: 4px;
      }
      .m-article_img img {
        top: -10px;
        left: 40px;
        width: 125px;
        height: 190px;
      }
      .o-mon_article {
        margin-top: 20px;
        .m-article {
          padding: 0px;
          margin-left: 0px;
          .m-para {
            margin-left: 50px;
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  /*   .o-footer {
    // display: block;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    margin-top: 75px;
    margin-left: -7px;
    padding: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .m-header li,
    .m-header .a-link {
      background-color: white !important;
    }
    li#main,
    #main .a-link {
      background-color: #f6947edc !important;
    }
  } */
}
