.o-blog {
  background-color: #efce6f;
  .o-headerMain {
    position: relative;
    background-color: #efce6f !important;
  }

  .o-blog_content {
    height: 90vh;
    display: flex;
    flex-direction: row;
    .o-reseaux {
      margin-left: -55px;
      margin-bottom: 15px;
    }
    .a-btn {
      width: 150px;
    }
    .o-blogs_first_content {
      width: 580px;
      margin-right: 680px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .o-first_article {
        display: flex;
        .blog-image {
          margin-left: 10px;
          border-radius: 10px;
          width: 150px;
          height: 200px;
        }
        .a-article_date {
          height: 40px;
          width: 150px;
          margin-top: 15px;
          padding-right: 5px;
          border-right: 3px solid black;
        }
        .m-article_titre {
          margin-left: 15px;
          .a-border {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
          }
        }
      }
    }

    .o-history_lignes {
      position: absolute;
      left: 720px;
      height: 600px;
      width: 200px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .o-cercles {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        left: 160px;
        width: 60px;
        height: 470px;
        .a-history_cercle {
          height: 25px;
          width: 25px;
          border: 3px solid black;
          border-radius: 50%;
        }
        .a-bottom_ligne {
          border: 1px solid black;
          background-color: black;
          height: 170px;
        }
      }
      .o-lignes,
      .o-lignes_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 440px;
        .m-ligne {
          .a-history_ligne {
            width: 100px;
            height: 1px;
            border: 1px solid black;
            background-color: black;
          }
        }
      }
      .o-lignes_1 {
        justify-content: center;
      }
    }
  }

  .o-blogs_last_content {
    position: absolute;
    margin-top: 25px;
    height: 600px;
    left: 945px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .o-second_article,
    .o-third_article {
      display: flex;
      .blog-image {
        margin-right: 10px;
        border-radius: 10px;
        width: 150px;
        height: 200px;
      }
      .a-article_date {
        height: 40px;
        margin-top: 15px;
        padding-left: 5px;
        border-left: 3px solid black;
      }
      .a-border {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
  }

  .reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0 !important;
    animation: none !important;
    transition: 0s !important;
  }

  .reveal-loaded [class*="reveal-"] {
    animation: revealAnimation 1s cubic-bezier(0.5, 0, 0, 1) both;
  }

  .reveal-loaded .reveal-2 {
    animation-delay: 0.2s;
  }

  .reveal-loaded .reveal-3 {
    animation-delay: 0.3s;
  }

  @media (prefers-reduced-motion: reduce) {
    .reveal-loaded [class*="reveal-"] {
      animation: none !important;
    }
  }

  @keyframes revealAnimation {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
