.o-blog2-first_content {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "o-reseaux o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article o-blog_article";
  .o-reseaux {
    margin-left: -45px;
    // margin-bottom: -50px;
    .m-reseaux_content {
      .a-link {
        color: #f4e69c !important;
      }
    }
  }
  .o-blog2_article {
    grid-area: o-blog_article;
    border: 2px solid #f4e69c !important;
    border-radius: 10px;
    width: 99%;
    position: relative;
    margin-top: 95px;
    .m-top-img_article {
      background-image: url(../images/photo/blog_coffee.jpg) !important;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      opacity: 0.7;
      margin: 2px;
      height: 200px;
    }
    .m-article_img img {
      position: absolute;
      top: 150px;
      left: 60px;
      border-radius: 10px;
      width: 180px;
      height: 250px;
    }
    .o-mon_article {
      display: flex;
      justify-content: center;
      .m-article {
        padding: 5px;
        width: 75%;
        margin-left: 220px;
        .m-article_titre {
          display: flex;
          align-items: center;
          width: 320px;
          .a-border {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
          }
          .a-article_date {
            border-left: 2px solid black;
            display: flex;
            justify-content: space-around;
            height: 50px;
            width: 150px;
          }
        }
        .m-para {
          .a-paragraph {
            font-size: 16px;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 700px) {
//   .o-blog2-first_content {
//     background-color: #f4e69c;
//   }
//   /* .o-footer {
//     li#main,
//     #main .a-link {
//       background-color: #f4e59ca9 !important;
//     }
//   } */
// }
