.t-galleryContent{
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .o-gallery__paragraph {
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    .m-galleryPresentation{
      &__image{
        width: 350px;
        border-radius: 15px;
        margin-top: 2rem;
      }
    }

    .m-galleryPresentationText{
      margin: 0 2rem;
      display: block; 
      &__button{
        width: 200px;
        margin: 0 auto;
        .a-btn{
          margin-top: 15px;
        }
      }  
    }
  }

  .m-galleryImageRight{
      width: 40%;
    &__content{
        position: relative;
        width: 640px;
        overflow: hidden;
        border-radius: 20px 100px/120px;
        height: 750px;
        margin-left: 60px;
        &__image{
          width: max-content;
          max-width: 100%;
          height: 770px;
          filter: grayscale(100%);
          transition: 0.3s ease-in-out;  
          &:hover{
            filter: grayscale(0);
            cursor: pointer;
            transform: scale(1.05);
          }
        }
        &__textLegend{
          font-size: 1rem;
          color: #fff;
          font-family: "Poppins", sans-serif;
          text-align: center;
          position: absolute;
          bottom: 60px;
          right: 60px;  
        }
      }
    }
  }



@import "p-gallery-responsive";
