.o-gallery_content {
  // border: 1px solid red;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas:
    "m-titre m-titre m-titre m-titre m-titre m-titre"
    "o-content o-content o-content o-content o-content";

  .o-reseaux {
    margin-top: 400px;
    margin-left: -50px;
    position: fixed;
    .m-reseaux_content {
      .a-link {
        color: black !important;
      }
    }
  }
  .m-titre-div {
    grid-area: m-titre;
    text-align: end;
    text-decoration: line-through 5px red;
    margin: 70px 425px 0 -50px;
    .a-titleH1 {
      font-size: 70px;
      font-weight: 500;
      font-family: "Kodchasan", sans-serif;
    }
  }

  .o-content {
    grid-area: o-content;
    position: relative;
    display: flex !important;
    align-items: center;
    width: 1300px;
    margin-top: 160px;
    // margin-right: 50px;
    // border: 1px solid red;
    .m-first-gallery img,
    .m-third-gallery img {
      width: 320px;
      border-radius: 10px;
      margin-bottom: 10%;
      margin-bottom: 10px;
    }
    .container::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    .m-first-gallery {
      position: absolute;
      overflow: auto;
      height: 70vh;
      display: flex;
      flex-direction: column-reverse;
      border-radius: 10px;
      // margin-right: -70px;
      top: 10px;
      // border: 1px solid red;
      &__img {
        width: 280px;
        border-radius: 10px;
        margin-bottom: 10%;
      }
    }
    .m-second-gallery {
      display: flex;
      flex-direction: column;
      overflow: auto;
      // height: 65vh;
      margin-left: 475px;
      border-radius: 10px;
      // border: 1px solid blue;
      &__img {
        width: 400px;
        border-radius: 10px;
        margin-bottom: 10%;
        margin-bottom: 10px;
      }
    }
    .m-third-gallery {
      position: absolute;
      z-index: 160;
      display: flex;
      flex-direction: column;
      top: -160px;
      right: -60px;
      width: fit-content;
      overflow: auto;
      height: 100vh;
      border-radius: 10px;
      // border: 1px solid brown;
      &__img {
        width: 280px;
        border-radius: 10px;
        margin-bottom: 10%;
      }
    }
  }
}

.reveal-loaded .reveal [class*="reveal-"] {
  opacity: 0 !important;
  animation: none !important;
  transition: 0s !important;
}

.reveal-loaded [class*="reveal-"] {
  animation: revealAnimation 1s cubic-bezier(0.5, 0, 0, 1) both;
}

.reveal-loaded .reveal-2 {
  animation-delay: 0.2s;
}

.reveal-loaded .reveal-3 {
  animation-delay: 0.4s;
}

@media (prefers-reduced-motion: reduce) {
  .reveal-loaded [class*="reveal-"] {
    animation: none !important;
  }
}

@keyframes revealAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
