h1 { font-family: "Playfair Display", serif; font-weight: bold; font-size: 3rem;}

.o-vlogs-section {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "m-titre m-titre m-titre m-titre m-titre m-titre m-titre m-titre m-titre m-titre m-titre m-titre m-titre m-titre m-titre"
    "o-reseaux o-content o-content o-content o-content o-content o-content o-content o-content o-content o-content o-content o-content o-content o-content";
    .m-titre-div {
        grid-area: m-titre;
        text-align: center;
        text-decoration: line-through 2px grey;
    }
/*     .o-reseaux {
        grid-area: o-reseaux;
        margin-bottom: 0;
    } */
    .o-vlog_content-div {
        border-radius: 50px;
        grid-area: o-content;
        height: 80vh;
        margin-right: 50px;
        background-image: url('../images/page_vlogs/Hina/background-vlogs.svg');
        background-position: center;

        .m-vlog-carousel-div {
            text-align: center;
            padding-top: 2rem;
            .a-lien {
                text-decoration: underline;
                color: white;
                font-family: "Poppins", sans-serif;
            }
        }

        * {box-sizing:border-box}

        /* Slideshow container */
        .o-vlog-slider-div {
            // height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .m-paragraph-div {
                height: 250px;

                h2{
                    color: white;
                    font-family: "Poppins", sans-serif;
                    font-weight: bold;
                    font-size: 3rem;
                    text-transform: uppercase;
                    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #FFD700 50%);
                    background-position: -0% 0;
                    background-size: 200% auto;
                    line-height: 1.15em;
                    text-decoration: none;
                    transition: background-position 0.5s ease-out;
                }
                :hover {
                    background-position: -99.99% 0;
                  }
            }
            .m-vlog-slideshow-container {
                position: relative;
                
                /* Hide the images by default */
                .m-vlog-mySlides {
                    width: 500px;
                }
                
                iframe {
                    width: 100%;
                }
                
                /* Next & previous buttons */
                .a-vlog-prev, .a-vlog-next {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    width: auto;
                    margin-top: -22px;
                    padding: 16px;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    transition: 0.6s ease;
                    border-radius: 0 3px 3px 0;
                    user-select: none;
                }
                
                /* Position the "next button" to the right */
                .a-vlog-next {
                    right: 0;
                    border-radius: 3px 0 0 3px;
                }
                
                /* On hover, add a black background color with a little bit see-through */
                .a-vlog-prev:hover, .a-next:hover {
                    background-color: rgba(0,0,0,0.8);
                }
                
                
                /* Fading animation */
                .fade {
                    -webkit-animation-name: fade;
                    -webkit-animation-duration: 1.5s;
                    animation-name: fade;
                    animation-duration: 1.5s;
                }
                
                @-webkit-keyframes fade {
                    from {opacity: .4}
                    to {opacity: 1}
                }
                
                @keyframes fade {
                    from {opacity: .4}
                    to {opacity: 1}
                }
                }
        }
       
    }

}