<div class="o-blogs_first_content">
    <div class="o-first_article reveal-1">
        <div class="a-article_date">
            <p>5.12.2020</p>
        </div>
        <div class="m-article_titre">
            <div class="a-border">
                <h2>Lorem ipsum dolor sit amet.</h2>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum in a nostrum, recusandae sit sapiente?</p>
            <a href="blog-1.html"><button class="a-button"><span>Read More.</span></button></a>
        </div>
        <div class="m-img_article">
            <img src="assets/images/page_blogs/img_train.jpg" alt="">
        </div>
    </div>
</div>