<div class="o-history_lignes">
    <div class="o-lignes_1">
        <div class="m-ligne">
            <div class="a-history_ligne"></div>
        </div>
    </div>

    <div class="o-cercles">
        <div class="m-cercle">
            <div class="a-history_cercle"></div>
        </div>
        <div class="a-bottom_ligne"></div>
        <div class="m-cercle">
            <div class="a-history_cercle"></div>
        </div>
        <div class="a-bottom_ligne"></div>
        <div class="m-cercle">
            <div class="a-history_cercle"></div>
        </div>
    </div>
    <div class="o-lignes">
        <div class="m-ligne">
            <div class="a-history_ligne"></div>
        </div>
        <div class="m-ligne">
            <div class="a-history_ligne"></div>
        </div>
    </div>
</div>