<div class="o-third_article reveal-3">
    <img src="assets/images/page_blogs/img_green.jpg" alt="">
    <div class="m-article_titre">
        <div class="a-border">
            <h2>Lorem ipsum dolor sit amet.</h2>
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum in a nostrum, recusandae sit sapiente?</p>
        <a href="blog-3.html"><button class="a-button"><span>Read More.</span></button></a>
    </div>
    <div class="a-article_date">
        <p>30.5.2021</p>
    </div>
</div>