<div class="o-second_article reveal-2">
    <img src="assets/images/page_blogs/img_coffee.jpg" alt="">
    <div class="m-article_titre">
        <div class="a-border">
            <h2>Lorem ipsum dolor sit amet.</h2>
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum in a nostrum, recusandae sit sapiente?</p>
        <a href="blog-2.html"><button class="a-button"><span>Read More.</span></button></a>
    </div>
    <div class="a-article_date">
        <p>21.4.2021</p>
    </div>
</div>