<footer class="o-footer">
    <nav class="m-header">
      <ul>
        <li id="main" ><img src="assets/images/page_about/icons_mobile_rose/profile.svg" alt=""><a class="a-lien" href="about-index.html">Me!</a></li>
        <li><img src="assets/images/page_about/icons_mobile_rose/vlog.svg" alt=""><a class="a-lien" href="vlogs-index.html">Vlogs</a></li>
        <li><img src="assets/images/page_about/icons_mobile_rose/blog_link.svg" alt=""><a class="a-lien" href="blogs-index.html">Blogs</a></li>
        <li><img src="assets/images/page_about/icons_mobile_rose/gallery_link.svg" alt=""><a class="a-lien" href="photo_gallery-index.html">Photo<br>Gallery</a></li>
      </ul>
    </nav>
</footer>