<footer class="o-footer">
    <nav class="m-header">
      <ul>
        <li id="main" ><img src="/assets/images/photo/footer_profile.jpg" alt=""><a class="a-lien" href="index.html">Me!</a></li>
        <li><span class="icon-youtube_link" ></span></span><a class="a-lien" href="vlogs.html">Vlogs</a></li>
        <li><span class="icon-blog_link"></span><a class="a-lien" href="blogs.html">Blogs</a></li>
        <li><span class="icon-gallery_link"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span></span><a class="a-lien" href="photo_gallery.html">Photo<br>Gallery</a></li>
      </ul>
    </nav>
</footer>