/*
 *  ## - Variables couleurs
 * __________________________________________________
 */

//-- Blancs
$brand-white: #FFFFFF; // CTA intitulé
$brand-white-F5F5F5: #F5F5F5; // marque
$brand-white-F2F2F2: #F2F2F2; // fond de bloc

// -- noirs
$brand-black: #000000; // marque
$brand-black-30percent: rgba(0,0,0,0.3); // box shadow
$brand-black-20percent: rgba(0,0,0,0.2); // box shadow
$brand-black-11percent: rgba(0,0,0,0.11); //box-shadow
$brand-black-333333: #333333; // texte
$brand-black-444444: #444444; // titres maquette design system
$brand-black-4C4C4C: #4C4C4C; // couleur libellés checkbox et radio boutons

// -- darks
$brand-dark-6F6060: #6F6060; // intitulé

// -- gris
$brand-grey-C8C8C8: #C8C8C8;
$brand-grey-C8C8C8-85percent: rgba(200,200,200, 0.85); //background pop up
$brand-grey-000000-50percent: rgba(000,000,000, 0.50); //background pop up

$brand-grey-808080: #808080; // champs input ... 
$brand-grey-686868: #686868;
$brand-grey-66788F: #66788F; //switch button non cliqué
$brand-grey-4F4F4F: #4F4F4F; // couleur bg footer
$brand-grey-919191: #919191; // couleur bg slidderRange

// -- beiges
$brand-beige-F8EEE5: #F8EEE5; // fond de bloc
