@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?qsa9dc");
  src: url("../fonts/icomoon.eot?qsa9dc#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?qsa9dc") format("truetype"),
    url("../fonts/icomoon.woff?qsa9dc") format("woff"),
    url("../fonts/icomoon.svg?qsa9dc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gallery_link .path1:before {
  content: "\e904";
  color: rgb(0, 0, 0);
}
.icon-gallery_link .path2:before {
  content: "\e905";
  margin-left: -1.2939453125em;
  color: rgb(255, 255, 255);
}
.icon-gallery_link .path3:before {
  content: "\e906";
  margin-left: -1.2939453125em;
  color: rgb(0, 0, 0);
}
.icon-blog_link:before {
  content: "\e907";
}
.icon-youtube_link:before {
  content: "\e908";
}
.icon-snap:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
