/*
 *  ## - Variables sizes
 * __________________________________________________
 */

// Sizes px to rem
$size_2  : .125 rem;
$size_4  : .25rem;
$size_6  : .375rem;
$size_8  : 0.5rem;
$size_9  : 0.5625rem;
$size_10 : .625rem;
$size_11 : .6875rem;
$size_12 : .75rem;
$size_13 : .8125rem;
$size_14 : .875rem;
$size_15 : .9375rem;
$size_16 : 1rem;
$size_root : 1rem;
$size_17 : 1.0625rem;
$size_18 : 1.125rem;
$size_19 : 1.1875rem;
$size_20 : 1.25rem;
$size_21 : 1.3125rem;
$size_22 : 1.375rem;
$size_23 : 1.4375rem;
$size_24 : 1.5rem;
$size_25 : 1.5625rem;
$size_26 : 1.625rem;
$size_27 : 1.6875rem;
$size_28 : 1.75rem;
$size_29 : 1.8125rem;
$size_30 : 1.875rem;
$size_31 : 1.9375rem;
$size_32 : 2rem;
$size_33 : 2.06rem;
$size_34 : 2.125rem;
$size_35 : 2.1875rem;
$size_36 : 2.25rem;
$size_37 : 2.3125rem;
$size_38 : 2.375rem;
$size_40 : 2.5rem;
$size_41 : 2.5625rem;
$size_42 : 2.625rem;
$size_43 : 2.6875rem;
$size_44 : 2.75rem;
$size_45 : 2.813rem;
$size_46 : 2.875rem;
$size_48 : 3rem;

$size_50 : 3.125rem;
$size_52 : 3.25rem;
$size_54 : 3.375rem;
$size_55 : 3.4375rem;
$size_56 : 3.5rem;
$size_58 : 3.625rem;
$size_59 : 3.688rem;

$size_60 : 3.75rem;
$size_62 : 3.85rem;
$size_64 : 4rem;
$size_65 : 4.0625rem;
$size_68 : 4.25rem;

$size_70 : 4.37rem;
$size_72 : 4.5rem;
$size_73 : 4.56rem;
$size_77 : 4.81rem;
$size_79 : 4.9375rem;
$size_80 : 5rem;
$size_84 : 5.25rem;
$size_90 : 5.625rem;
$size_92 : 5.75rem;
$size_97 : 6.06rem;

$size_100 : 6.25rem;
$size_106 : 6.62rem;
$size_110 : 6.875rem;
$size_112 : 7rem;
$size_115 : 7.187rem;
$size_120 : 7.5rem;
$size_128 : 8rem;
$size_134 : 8.40rem;
$size_136 : 8.50rem;
$size_140 : 8.75rem;
$size_144 : 9rem;
$size_145 : 9.0625rem;
$size_146 : 9.125rem;
$size_152 : 9.55rem;
$size_154 : 9.62rem;
$size_158: 9.875rem;
$size_160 : 10rem;
$size_167: 10.438rem;
$size_168 : 10.5rem;
$size_176 : 11rem;
$size_178 : 11.125rem;
$size_190 : 11.87rem;
$size_192 : 12rem;
$size_195: 12.188rem;
$size_357 : 22.31rem;
